<mat-card>
    <mat-card-title>Excluir Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [value]="cadastro.name" name="name" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CPF" [value]="cadastro.cpf" name="cpf" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone" [value]="cadastro.telefone" name="telefone" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Endereçoo" [value]="cadastro.endereco" name="endereco" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data de Nascimento" [value]="cadastro.dt_nascimento" name="dt_nascimento" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Saldo (R$)" [value]="cadastro.saldo" name="saldo" disabled>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteCadastro()" color="warn">
        Excluir
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>